*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  header {
    background-color: #444;
    padding: 1rem;
    color: #fdfdfd;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  header a {
    color: #fdfdfd;
    text-decoration: none;
  }
  .menu-flex-wrapper {
    display: flex;
    gap: 1rem;
  }
  
  header a:hover {
    color: salmon;
  }
  
  #logo {
    font-size: 2rem;
  }
  
  main, img {
    margin: 4rem auto;
    max-width: 25rem;
    padding: 1rem;
  }
  
  section {
    margin: 2rem 0;
  }
  
  p {
    margin: 2rem 0;
    line-height: 1.8;
  }
  
  footer p {
    margin: 0;
  }
  
  
  /* MENU STUFF */
  
  
  @media (max-width: 40rem) {
    
    #menu-toggle {
      display: flex;
      flex-direction: column;
      gap: .25rem;
      padding: .25rem;
      position: relative;
      z-index: 999;
    }
    
    #menu {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      background-color: #33dd3388;
    }
    
    .menu-flex-wrapper {
      flex-direction: column;
      gap: 0;
      height: 100%;
      justify-content: space-between;
    }
    
    #menu a {
      background-color: lightblue;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 3px solid red;
    }
    
    #menu a:last-child {
      border-bottom: 3px solid red;
    }
    
    #menu a:hover {
      background-color: violet;
    }
    
    .patty {
      background-color: #fdfdfd;
      width: 2rem;
      height: .25rem;
    }
    
    #menu-toggle:hover .patty {
      background-color: salmon;
    }  
  }
  
  /* Main stuff */

  .hero{
    min-height: 100vh;
    
    background-image: url(photos/main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-text{
    color: white;
    padding: 5rem;
    width: 100%;
    height: 100%;

    text-align: right;
    padding-top: 50%;

  }

  h1{
    font-size: 3rem;
  }
  p{
    font-size: .75rem;
  }

  .section-one{
    display: block;
  }

  .section-one-one img, .section-one-three img{
    width: 70%;
    float: left;
  }
  .section-one-two img{
    float: right;
    width: 70%;  
  }
  .section-two{
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .three, .two, .one{
    display: inline-block;
    max-width: 10rem;
    /* width: 30vw; */
    min-width: 10rem;
    text-decoration: none;
    padding: .25rem;
    margin: .5rem;
  } 
.three-caption, .two-caption, .one-caption{
  color: black;
  margin-top: 1em;
}

  img{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .two:hover, .three:hover, .one:hover {
    background-color: white;
    /* border: solid grey; */

    transform: scale(1.25);

    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);

  }

  footer {
    background-color: #444;
    padding: .25rem;
    /* margin: 0; */
    color: #fdfdfd;
  }
  .instagram, .twitter, .linkedin{
    display: inline-block;
    max-width: 10rem;
    min-width: .25rem;
  }